* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.First-page-container {
  width: 100%;
  height: 60vh;
  background-image: url(./imgs/main-page-bg.avif);
}
nav {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 12px;
}
li {
  list-style: none;
}
.Left-side-components ul {
  display: flex;
  flex-direction: row;
  column-gap: 35px;
}
.zomato-white-logo {
  margin-top: 10vh;
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.zomato-white-logo img {
  height: 70px;
  width: 400px;
}
.discover {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 34px;
}
.box {
  margin-top: 3vh;
  width: 50%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  overflow: hidden;
  color: #000;
}
.search-bar {
  padding-left: 15px;
  border: none;
  width: 65%;
  height: 70%;
  outline: none;
  font-size: 16px;
}
.search-icon {
  margin-left: 15px;
  font-size: 16px;
}
.box .drop-down {
  width: 35%;
  padding-left: 20px;
  border-right: 1.5px solid rgba(53, 52, 52, 0.866);
  font-size: medium;
  display: flex;
  gap: 10px;
}
#drop-down-list {
  width: 80%;
  background: transparent;
  border: none;
  font-size: 19px;
  letter-spacing: 1.5px;
}
.location-icon {
  color: rgba(255, 0, 0, 0.632);
  font-size: 20px;
}
.cards {
  margin-top: 33px;
  /* background-color: aquamarine; */
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 12px;
  align-items: center;
}
.card {
  height: 250px;
  width: 350px;
  background-color: rgb(240, 232, 232);
  border-radius: 13px;
}
.card img {
  width: 350px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.card-content {
  /* height: 15vh; */
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: aqua; */
  gap: 8px;
}
.card:hover {
  transform: scale(1.02);
}
.collections {
  margin-top: 113px;
  height: 10vh;
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  /* font-size: 44px; */
}
.col {
  width: 100%;
  margin-left: 480px;
  font-size: 30px;
  /* background-color: rebeccapurple; */
}
.collections p {
  margin-left: 650px;
  /* width: 100%; */
  font-size: 29px;
  margin: 0 auto;
  /* background-color: aquamarine; */
}
.cafes {
  /* margin-top: 10px; */
  height: 50vh;
  /* background-color: antiquewhite; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.cafe {
  position: relative;
  height: 300px;
  width: 250px;
  background-color: red;
  border-radius: 12px;
}
.cafe img {
  height: 100%;
  width: 250px;
  object-fit: cover;
  border-radius: 12px;
  filter: drop-shadow(8px 8px 10px gray);
}
.cafe-content {
  position: absolute;
  left: 3px;
  width: 98%;
  top: 86%;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  background-color: rgba(60, 57, 57, 0.555);
  border-radius: 12px;
}
.get-zomato-app {
  height: 60vh;
  margin-top: 89px;
  padding: 25px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  /* background-color: aqua; */
}
.app-content {
  height: 100%;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  justify-content: flex-start;
  gap: 22px;
  padding: 8px;
}
.app-content h1 {
  /* height: inherit; */
  /* background-color: red; */
}
.app-content p {
  width: 90%;
  /* background-color: green; */
}
.EmailAndPhone {
  /* height: inherit; */
  /* background-color: blue; */
  /* padding: 22px; */
  display: flex;
  flex-direction: row;
  gap: 12px;
 
}
.d {
  /* height: inherit; */
  height: 63px;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* background-color: rebeccapurple; */
}
.d input {
  padding: 14px 64px;
  border-style: none;
  border-radius: 2px;
  border: 1px solid blue;
}
.d button{
  border-style: none;
  padding: 13px 27px;
  border-radius: 3px;
}
.app-links img {
  height: 40px;
  width: 120px;
}
.app-links {
  display: flex;
  flex-direction: row;
  gap: 28px;
}
